body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    height: 1080px;
    width: 1470px;
    flex-direction: column;
}
.heading {
    display: flex;
    background-color: #000000;
    color: white;
    padding: 20px;
    justify-content: space-between;
    height: 10%;
    width: 1450px;
}
.socials{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
}
.title{
    text-align: center;
}
.heading h1{
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
}
.heading p{
    font-style: italic;
}
.heading img{
    height: 100px;
    width: 125px;
}
.heading a{
    height: 100px;
    width: 100px;
}
.socials img{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.bottom{
    height: 100%;
    width: 1490px;
    background-color: rgba(245, 245, 245, 0.92);
    display: flex;
}
.context{
    height: 90%;
    width: 70%;
    background-color: rgba(245, 245, 245, 0.92);
    align-items: center;
    flex-direction: column;
}
.context h1{
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
}
.general{
    display: flex;
    flex-direction: row;
}
.reasoning {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    width: 70%;
    margin: 20px; 
    border: 1px solid #ddd; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.reasoning h1 {
    margin-bottom: 10px; 
    font-size: 30px;
    font-style: inherit;
}

.reasoning p {
    margin: 10px 0; 
    font: italic;
    font-size: 20px;

}

.latest {
    width: 40%;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    margin: 20px; 
    border: 1px solid #ddd; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.latest h1{
    font-size: 20px;
    margin-bottom: 10px; 
    font-size: 30px;
    font-style: inherit;
}

.team{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0;
    box-shadow: #333;
}
.team h1{
    height: 10%;
}
.members{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.members img{
    height: 150px;
    width: 175px;
}
.member1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.member2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.member3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.documents{
    height: 100%;
    width: 30%;
    background-color: #333;
}
.documents h1{
    margin: 0;
    font-size: 50pxß;
    letter-spacing: 2px;
    color: white;
}